/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background: fixed center url("images/UHM-background.jpeg");
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

#guide-page {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#landing-page {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 125px;
}

#landing-page h1 {
  color: #0e500e;
  font-size: 50px;
  text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

#landing-page h3 {
  color: black;
  font-size:30px;
  text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

#view-profile-page h2{
  color: white;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

#findbuddy-page {
  background: url("/images/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}


.active.nav-item {
  border-top-width: 10px;
  padding-top:0px;
  color: black;
}
/* added */
.navbar-nav .nav-link:hover {
  border-top: 3px solid rgba(5, 124, 17, 0.42) !important;
  padding-top: 0;
}

