/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}


/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background: url("/doc/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 800px;
}

#center-image {
  background: url("/images/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  font-family: noticia text,serif;
  color: whitesmoke;
}

.transparent-card {
  background-color: transparent !important; /* Important to override Bootstrap styles */
}

#signin-page{
  background: url("/images/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  h2 {
    color: #0e500e;
    font-size: 50px;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
  }
}

#signup-page{
  background: url("/images/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  h2 {
    color: white;
  }
}

#findbuddy-page {
  background: url("/images/UHM-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

#gym-buddy {
  padding-left: 0;
  padding-right: 0;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  background-color: rgba(7, 189, 11, 0.8);
}

#landing-page {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 125px;
}

#landing-page h1 {
  color: #0e500e;
  font-size: 50px;
  text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

#landing-page h3 {
  color: black;
  font-size:30px;
  text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

#view-profile-page h2{
  color: white;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

/* Define custom styles */
.gray-background {
  background-image: url('doc/UHM-background.jpeg'); /* Replace 'your-image-url.jpg' with the URL or path of your image */
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar {
  --bs-navbar-padding-x: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.navbar-nav {
  --bs-nav-link-padding-x: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:2px;
  padding-bottom: 0.5rem;
  color: #E33E19;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer!important;
}

.active.nav-item {
  border-top-width: 10px;
  padding-top:0px;
  color: black;
}
/* added */
.nav-item:hover {
  border-top: 3px solid #E33E19!important;
  padding-top:0;
}

.btn:hover {
  color: black;
  background-color: #ffe18c;
  border: none;
  transition: background-color 0.3s ease;
}
